<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuricfurusho.architecturetemplate2022.ui">

    <application>
        <activity
            android:name=".ContractorsListActivity"
            android:exported="false" />
    </application>

</manifest>